
logs
*.log
npm-debug.log*

node_modules/

*.tsbuildinfo

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache/

package-lock.json

/prisma/db/*.db
/prisma/*.db
/prisma/*.db-journal
prisma/migrations

#Google Cloud
app.yaml
.gcloudignore