<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Welcome!</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          name="email"
          matInput
          [(ngModel)]="email"
          placeholder="Ex. name@email.com"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          name="password"
          matInput
          [(ngModel)]="password"
          placeholder="Password"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="start">
    <button
      class="login-button"
      (click)="login()"
      mat-raised-button
      color="primary"
    >
      Login
    </button>
    <button class="login-button" routerLink="/signup" mat-raised-button>
      Sign Up
    </button>
  </mat-card-actions>
</mat-card>
