<div>
  <h1>Users</h1>
  <mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    *ngFor="let user of users | async"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ user.name }}
      </mat-panel-title>
      <mat-panel-description>
        Show user to-dos
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <app-to-do *ngFor="let todo of user.todos" [todo]="todo"></app-to-do>
    </div>
  </mat-expansion-panel>
</mat-accordion>
