<div>
  <h1>Users</h1>
  <mat-accordion *ngFor="let user of users | async">
    <mat-expansion-panel
      class="accordion"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      *ngIf="user.isAdmin === false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ user.name }}
        </mat-panel-title>
        <mat-panel-description> Show user to-dos </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let todo of user.todos">
        <app-to-do *ngIf="!todo.completed" [todo]="todo"></app-to-do>
      </div>
      <div *ngFor="let todo of user.todos">
        <app-to-do *ngIf="todo.completed" [todo]="todo"></app-to-do>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
